/* semanticaly, an id selector should only occur once in a page */
#page-title{
    background: #ff1b68;
}


/* googlefonts font family added */
h1{
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

/* class selector */
.morale-boost{
    color: blue;
}